* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #f0f2f5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container {
    width: 980px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
/* LEFT SIDE */
.left {
    width: 50%;
}
.logo {
    color: #1877f2;
    font-size: 60px;
    font-weight: bold;
}
.left p {
    font-size: 26px;
    margin-top: 20px;
    max-width: 500px;   /* МАҢЫЗДЫ */
    line-height: 1.2;
}
/* RIGHT SIDE */
.right {
    width: 40%;
}
.login-box {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}
.login-box input {
    padding: 14px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 6px;
}
.login-box button {
    background: #1877f2;
    color: #fff;
    font-size: 20px;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
}
.login-box button:hover {
    background: #166fe5;
}
.forgot {
    text-align: center;
    margin: 15px 0;
    color: #1877f2;
    text-decoration: none;
    font-size: 14px;
}
hr {
    margin: 20px 0;
    border: 1px solid #eee;
}
.create {
    background: #42b72a;
    color: white;
    text-align: center;
    padding: 12px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    width: fit-content;
    align-self: center;
}
.create:hover {
    background: #36a420;
}
.create-page {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    color: #1c1e21;
    font-weight: normal;
}
.create-page a {
    font-weight: 600;   /* light-bold */
    color: #1c1e21;
    text-decoration: none;
}
.left {
    width: 50%;
    margin-right: 40px;
}
.fb-footer {
    background: #fff;
    color: #737373;
    font-size: 12px;
    padding: 20px 0;
}
.fb-footer-inner {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 12px;
}
.fb-footer a {
    color: #737373;
    text-decoration: none;
    line-height: 1.25;
}
.fb-footer a:hover {
    text-decoration: underline;
}
/* LANGUAGES */
.fb-langs {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 8px 14px;
    padding: 0;
    margin: 0;
}
.fb-langs li {
    white-space: nowrap;
}
/* PLUS */
.fb-langs .plus a {
    width: 28px;
    height: 22px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccd0d5;
    border-radius: 4px;
    background: #f5f6f7;
    font-weight: 600;
    color: #4b4f56;
}
/* DIVIDER */
.fb-divider {
    border-top: 1px solid #ddd;
    margin: 10px 0;
}
/* LINKS */
.fb-links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 6px 14px;
    padding: 0;
    margin: 0;
}
.fb-links li {
    white-space: nowrap;
}
.fb-links li.long {
    white-space: normal; /* тек ұзын тексттер сынып өтеді */
}
/* COPYRIGHT */
.fb-copy {
    margin-top: 14px;
    font-size: 11px;
}
  