.card {
    background: linear-gradient(135deg, #f8fbff, #eaf2ff);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
    transition: 0.4s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card:hover {
    transform: translateY(-8px);
  }
  
  .image-wrapper {
    width: 100%;
    height: 220px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image-wrapper img {
    max-width: 100%;
    max-height: 200px;
    object-fit: contain;
  }
  
  h2 {
    margin: 10px 0;
    font-size: 22px;
  }
  
  .description {
    font-size: 15px;
    margin: 10px 0 15px;
    color: #333;
  }
  
  .price {
    font-size: 20px;
    font-weight: bold;
    color: #1e8e3e;
    margin-bottom: 10px;
  }
  
  .rating {
    margin-bottom: 15px;
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 15px;
    text-align: center;
  }
  
  .share-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .kaspi {
    text-decoration: none;
    color: #6c3bd1;
    font-weight: bold;
  }
  
  .whatsapp {
    background: #25D366;
    color: white;
    padding: 6px 14px;
    border-radius: 6px;
    text-decoration: none;
  }
  
  .telegram {
    background: #0088cc;
    color: white;
    padding: 6px 14px;
    border-radius: 6px;
    text-decoration: none;
  }
  
  
  .stars {
    color: gold;
    font-size: 18px;
  }

  .kaspi-btn {
    display: inline-block;
    background: linear-gradient(135deg, #6c3bd1, #8f5cff);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease;
    box-shadow: 0 5px 15px rgba(108, 59, 209, 0.3);
  }
  
  .kaspi-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(108, 59, 209, 0.4);
  }

  .main-image {
    width: 220px;
    height: 220px;
    object-fit: contain;
    display: block;
    margin: 0 auto 10px;
  }
  
  .thumbnails {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 15px;
  }
  
  .thumbnails img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 6px;
    opacity: 0.6;
    border: 2px solid transparent;
    transition: 0.3s;
  }
  
  .thumbnails img:hover {
    opacity: 1;
  }
  
  .thumbnails img.active {
    opacity: 1;
    border: 2px solid #7a5cf0;
  }
  

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .description {
    min-height: 100px; /* Барлығы бірдей болу үшін */
  }
  
  .price {
    margin-top: auto;
  }
  
  