.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 40px;
  }

  .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 60px;
    align-items: stretch; /* маңызды */
  }

  .description {
    height: 120px;
    overflow: hidden;
  }
  